@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    function create()
    {
        const item = {
            name : document.getElementById("name").value,
            dob : document.getElementById("dob").value
        }

        fetch('https://localhost:7026/api/personcommand/createapi', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(item)
        })
            .then(response => response.json())
            .then(setTimeout(function() { location.href = 'https://localhost:7026/person/index'; }, 1500))
            .catch(error => console.error('Error!', error));
    }
</script>

<script>
    function importCSV()
    {
        var insertCSVBody;
        var formData = new FormData();

        //memanggil id disebut selector
        formData.append("file", importForm.files[0]);

        var test = $.ajax({
            type: "POST",
            url: "https://localhost:7026/api/personquery/readCSV",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function(response)
            {
                insertCSVBody = JSON.parse(JSON.stringify(response));
                console.log(insertCSVBody);

                fetch('https://localhost:7026/api/personcommand/createapi', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(insertCSVBody).replace(/]|[[]/g, '')
                })
                    .then(response => response.json())
                    .then(setTimeout(function() { location.href = 'https://localhost:7026/person/index'; }, 1500))
                    .catch(error => console.error('Error!', error));
            }
        })
    }
</script>

<div style="padding-top:5.5%; margin: auto; width: 30%;">
    <div class="col-lg-6 mb-4 mb-lg-0" style="width:50%; margin: auto; padding-bottom:5%;">
        <img src="https://freesvg.org/img/abstract-user-flat-4.png" style="object-fit: cover; width:100%; aspect-ratio: 1; border-radius: 50%;">
    </div>
    <div style="padding-bottom:8%; text-align: center;">
        <h2>Welcome, New User</h2>
    </div>
    <div class="form-group">
        <label>Name</label><br />
        <input id="name" class="form-control" placeholder="Enter name">
    </div>
    <div class="form-group" style="padding-bottom:3%">
        <label>Date of Birth</label><br />
        <input id="dob" type="date" class="form-control" placeholder="Enter date of birth">
    </div>
    <div style="margin:auto; width:100%; padding-top:5%">
        <button type="button" class="btn btn-primary btn-sm" style="width:100%; margin: auto" onclick="create()">Submit</button>
    </div>
    <div style="margin:auto; width:100%; text-align:center">
        <br />
        <h5>Or create using CSV?</h5>
        <br />
        <input id="importForm" type="file" name="importForm" style="width:58.675%"/>
        <button type="button" class="btn btn-info btn-sm" style="width:40%;" onclick="importCSV()">Import CSV</button>
        <br />
    </div>
    <br />
</div>